@media screen and (max-width: 750px) {
    
    /* Global Elements */
    
    .nav_hide {
        display: none;
    }

    /* content_target */

    .target_contents_value_box + .target_contents_value_box {
        margin-top: 1.5rem;
    }

    .target_contents_value {   
        flex-basis: 12rem;     
        height: 12rem;
        border-radius: 6rem;
        font-size: 1.1rem;
    }
    .target_contents_value + .target_contents_value {
        margin-left: 1.5rem;
    }
}