@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquareR.ttf');
}
@font-face {
    font-family: 'Ikaros';
    src: url('/fonts/Ikaros-Regular.otf');
}

h1, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

header {
    background-image: url('/img/headerImage.jpg');
    background-attachment: fixed;
    height: 45rem;
    background-color:#ffffff;
    background-repeat: no-repeat;
    background-size:contain;
}

#title {
    width: 100%-8rem;
    height: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #000000bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: inline-block;
    height: 3rem;
}

nav {
    display: flex;
    align-items: center;
}

nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav_menu {
    height: fit-content;
    padding: 0.8rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: NanumSquare;
}
.nav_menu:hover {
    background-color: #4088eb88;
}

#header_cover {
    height: 40rem;
    background-color: #00000099;
}

#header_text {
    height: fit-content;
    padding-top: 23rem;
    padding-left: 7rem;
}

#header_text_title {
    font-family: Ikaros;
    font-size: 4rem;
    color:#eeeeee;    
    margin-bottom: 1.2rem;
}

.header_text_index {
    font-family: Ikaros;
    font-size: 1.4rem;
    color:#eeeeee;
}
.header_text_index + .header_text_index {
    margin-top: 0.6rem;
}

/* intro */

#intro {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #f9fafb;
}

.intro_text {
    font-family: NanumSquare;
    font-size: 1.6rem;
    color: #8A929A;
    font-style: italic;
    font-weight: normal;
}
.intro_text + .intro_text {
    margin-top: 0.8rem;
}

.intro_title {
    font-family: NanumSquare;
    font-size: 2.6rem;
    color: #FF7171;
    margin-top: 2.6rem;
}

/* content */

.content_article {
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.content_title {
    margin-bottom: 5rem;
    font-family: NanumSquare;
    font-size: 3.2rem;
    color: #1E2022;
    text-align: center;
}

.content_expalin {
    margin-bottom: 6rem;
}

.content_value {
    font-family: NanumSquare;
    font-size: 1.6rem;
    color:#8A929A;
    text-align: center;
}
.content_value > span {
    color:#FF7171;
}
.content_value + .content_value {
    margin-top: 0.6rem;
}

/* content_introduction */


#introduction_image {
    width: 70%;
    margin: auto;
}

#introduction_image_src {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #cccccc;
    box-shadow: 0rem 0rem 1.2rem #cccccc;
}

/* content_distinction */

#distinction {
    background-color:  #f9fafb;
}

#distinction_title {
    margin-bottom: 5rem;
}
#distinction_contents {
    width: fit-content;
    margin: auto;
}

.distinction_content_index {
    display: flex;
}
.distinction_content_index + .distinction_content_index {
    margin-top: 3rem;
}

.distinction_content_index_number {
    width: 2rem;
    display: inline-block;
    font-family: Ikaros;
    font-size: 2.6rem;
    color: #1E2022;
    margin: 0;
    margin-right: 3rem;
}

.distinction_content_index_box {
    display: inline-block;
    margin-top: 0.6rem;
}

.distinction_content_index_box_subtitle {
    font-family: NanumSquare;
    font-size: 2rem;
    color:#1E2022;
    margin-bottom: 1.3rem;
}

.distinction_content_index_box_value {
    font-family: NanumSquare;
    font-size: 1.4rem;
    color:#8A929A;
}
.distinction_content_index_box_value + .distinction_content_index_box_value {
    margin-top: 0.7rem;
}

/* content_target */

/* content_style */

#style {
    background-color: #f9fafb;
}

/* content_benefit */

/* content_info */

#info {
    background-color: #f9fafb;
    padding-bottom: 20rem;
}

#info_link {
    width: fit-content;
    text-align: center;
    margin: auto;
}

#info_link_index_background_1 {
    background-image: url('/img/1.jpg');
}

#info_link_index_background_2 {
    background-image: url('/img/2.jpg');
}

#info_link_index_background_3 {
    background-image: url('/img/3.jpg');
}

.info_link_index {
    text-align: left;
    display: inline-flex;
    text-decoration: none;
}

.info_link_index_background {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-position: center;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.5rem 0.8rem #999999;
}

.info_link_index_cover {
    width: 16rem;
    height: 16rem;
    background-color: #00000099;
    border-radius: 0.3rem;
    padding: 2rem;
}

.info_link_index_title {
    font-family: Ikaros;
    font-size: 1.8rem;
    color:white;
}

.info_link_index_text {
    margin-top: 0.5rem;
    font-family: NanumSquare;
    font-size: 1.2rem;
    color:white;
}

/* footer */

footer {
    width: 100%;
    height: fit-content;
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
    background-color: #1E2022;
}

#footer_contact {
    width: fit-content;
    margin: auto;
    font-family: NanumSquare;
    font-size: 1.6rem;
    color: white;
}

#footer_contact_box {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.footer_index {
    display: inline-block;
    width: fit-content;
    margin-top: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: NanumSquare;
    font-size: 0.9rem;
    color: white;
    text-align: left;
}

.footer_index_title {
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
}

.footer_index_value {
    display: inline-block;
}

@media screen and (max-width: 1360px) {

    /* content */

    .content_article {
        padding-left: 16%;
        padding-right: 16%;
    }

    /* content_introduction */

    #introduction_image {
        width: 85%;
    }

    /* content_detail */

    .content_link_index_background {
        width: 17rem;
        height: 17rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    
    .content_link_index_cover {
        width: 14rem;
        height: 14rem;
        padding: 1.5rem;
    }
    
    .content_link_index_title {
        font-size: 1.4rem;
    }
    
    .content_link_index_text {
        margin-top: 0.4rem;
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 750px) {
    .nav_hide {
        display: none;
    }
}

@media screen and (max-width: 560px) {

    /* header */

    header {
        height: 20rem;
    }

    #title {
        height: 4rem;
        padding-left: 2rem;
        padding-right: 1rem;
    }
    
    #logo {
        height: 2.6rem;
    }

    #header_cover {
        height: 16rem;
        text-align: center;
    }

    #header_text {
        padding-top: 5rem;
        padding-left: 0;
    }
    
    #header_text_title {
        font-size: 3rem;
    }
    
    .header_text_index {
        font-size: 1.1rem;
    }
    
    /* intro */

    .intro_text {
        font-size: 0.8rem;
    }

    .intro_title {
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }

    /* content */

    .content_article {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content_title {
        margin-bottom: 2.2rem;
        font-size: 1.6rem;
    }

    /* content_introduction */

    #introduction_image {
        width: 100%;
    }

    /* content_distinction */

    .content_value {
        font-size: 1.2rem;
    }

    .distinction_content_index {
        display: block;
    }
    .distinction_content_index_number {
        font-size: 1.6rem;
        margin-bottom: 0.4rem;
    }

    .distinction_content_index_box_subtitle {
        font-size: 1.6rem;
    }

    .distinction_content_index_box_value {
        font-size: 1.2rem;
    }

    .distinction_content_index_box_value + .distinction_content_index_box_value {
        margin-top: 1rem;
    }

    /* content_info */

    .info_link_index_background {
        width: 20rem;
        height: 20rem;
    }
    
    .info_link_index_cover {
        width: 16rem;
        height: 16rem;
        padding: 2rem;
    }

    .info_link_index + .info_link_index {
        margin-top: 1rem;
    }
    
    .info_link_index_title {
        font-size: 1.6rem;
    }
    
    .info_link_index_text {
        margin-top: 0.6rem;
        font-size: 1.2rem;
    }

    /* footer */

    footer {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }

    #footer_contact {
        font-size: 1.6rem;
    }

    .footer_index {
        margin-top: 1.4rem;
        font-size: 0.9rem;
    }
}