.faq_title {
    width: 80%;
    max-width: 83rem;
    margin-right: auto;
    margin-left: auto;
}

.faq_line {
    width: 80%;
    max-width: 83rem;
}

.faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 83rem;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.faq_box {
    width: 49%;
    height: fit-content;
    cursor: pointer;
}

.faq_question {
    width: 90%;
    height: fit-content;
    padding: 5%;
}

.faq_answer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
    padding: 5%;
    background-color: var(--grey);
    border-radius: 0.4rem;
    text-align: left;
}