.faq_title {
    width: 80%;
    max-width: 83rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

.faq_line {
    width: 80%;
    max-width: 83rem;
    margin-bottom: 2.6rem;
}

.faq {
    width: 80%;
    max-width: 83rem;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq_box {
    width: 49%;
    height: fit-content;
    margin-bottom: 2rem;
    cursor: pointer;
}

.faq_question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 1.6rem;
    padding: 5%;
    background-color: var(--blue);
    border-radius: 0.4rem;
    color: var(--white);
}
.faq_question:hover {
    background-color: #5494eb;
}
.faq_question:active {
    background-color: #3c7dd6;
}

.faq_answer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
    padding: 5%;
    background-color: var(--grey);
    border-radius: 0.4rem;
}