@media screen and (min-width: 1025px) and (max-width: 1300px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 410px) and (max-width: 767px) {

    .faq_box {
        width: 100%;
    }

    .faq_question {
        width: 94%;
        padding: 3%;
    }

    .faq_answer {
        width: 92%;
        padding: 4%;
    }
}

@media screen and (max-width: 409px) {

    .faq_box {
        width: 100%;
    }

    .faq_question {
        width: 94%;
        padding: 3%;
    }

    .faq_answer {
        width: 92%;
        padding: 4%;
    }
}