@media screen and (min-width: 1025px) and (max-width: 1300px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 410px) and (max-width: 767px) {

    .faq_title {
        margin-bottom: 0.6rem;
        font-size: 1.2rem;
    }

    .faq_line {
        margin-bottom: 1.4rem;
    }

    .faq {
        max-width: 36rem;
        margin-bottom: 1.8rem;
    }

    .faq_box {
        width: 100%;
        margin-bottom: 0.8rem;
    }

    .faq_question {
        height: fit-content;
        font-size: 1rem;
    }

    .faq_answer {
        font-size: 1rem;
        line-height: 1.8rem;
    }

}

@media screen and (max-width: 409px) {

    .faq_title {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    .faq_line {
        margin-bottom: 1.2rem;
    }

    .faq {
        margin-bottom: 1.6rem;
    }

    .faq_box {
        width: 100%;
        margin-bottom: 0.6rem;
    }

    .faq_question {
        height: fit-content;
        font-size: 0.8rem;
    }

    .faq_answer {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

}