.guide_title {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}

.guide_line {
    width: 80%;
    max-width: 100rem;
}

.guide_value {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}

.guide_img {
    display: block;
    width: 80%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}