@media screen and (max-width: 767px) {
    
    .guide_box + .guide_box {
        margin-top: 1.5rem;
    }

    .guide_title {
        width: 90%;
        margin-bottom: 0.6rem;
        font-size: 1.2rem;
    }

    .guide_line {
        width: 90%;
        margin-bottom: 1.4rem;
    }

    .guide_value {
        width: 90%;
    }

    .guide_img {
        margin-top: 0;
        margin-bottom: 0.4rem;
    }
    
    .guide_explain {
        padding-top: 0.6rem;
        padding-bottom: 1.6rem;
        padding-left: 10%;
        padding-right: 10%;
    }
}