@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* nav */

    nav {
        height: 5rem;
    }

    .logo {
        height: 3rem;
    }

    .nav_menu_box {
        display: none;
    }

    .nav_menu_button {
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }

    /* header */

    .header_box {
        margin-bottom: 3.6rem;
    }

    /* footer */

    .footer_button {
        width: 20.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .footer_img {
        width: 3.2rem;
        height: 3.2rem;
    }
}

@media screen and (min-width: 410px) and (max-width: 767px) {

     /* nav */

    nav {
        height: 4rem;
    }

    .logo {
        height: 2.5rem;
    }

    .nav_menu_box {
        display: none;
    }

    .nav_menu_button {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
    }

    /* header */

    header {
        height: 30rem;
    }

    .header_box {
        margin-bottom: 1.8rem;
    }

    /* footer */

    footer {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .footer_index {
        margin-top: 0.5rem;
    }

    .footer_button {
        width: 12rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

    .footer_link_box {
        margin-top: 6rem;
    }

    .footer_img {
        width: 2.8rem;
        height: 2.8rem;
    }

    .footer_index_box {
        width: 90%;
    }

    .footer_subvalue_box {
        width: 90%;
    }

    .footer_index_subvalue {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 409px) {

    /* nav */

    nav {
        height: 4rem;
    }

    .logo {
        height: 2.5rem;
    }

    .nav_menu_box {
        display: none;
    }

    .nav_menu_button {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
    }

    /* header */

    header {
        height: 27rem;
    }

    .header_box {
        margin-bottom: 1.6rem;
    }

   /* footer */

    footer {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .footer_index {
        margin-top: 0.5rem;
    }

    .footer_button {
        width: 10rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }

    .footer_link_box {
        margin-top: 4.8rem;
    }

    .footer_img {
        width: 2.4rem;
        height: 2.4rem;
    }

    .footer_index_box {
        width: 90%;
    }

    .footer_subvalue_box {
        width: 90%;
    }

    .footer_index_subvalue {
        margin-top: 0.5rem;
    }
}
