header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 74rem;
    position: relative;
    overflow: hidden;
    /* background-image: url('../img/headerImage.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right; */
}

.header_cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 76%;
    height: 100%;
    padding-left: 12%;
    padding-right: 12%;
}

.header_box {
    width: fit-content;
    height: fit-content;
}

.header_button {
    width: fit-content;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.8rem;
    padding-right: 3.8rem;
    margin-left: 0;
    text-decoration: none;
}
.header_button + .header_button {
    margin-left: 1rem;
}

.header_video {
    width: 100%;
    min-width: 132rem;
    position: absolute;
    object-fit: contain;
    z-index: -9999;
}

/* nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 6rem;
    background: var(--more_darken);
}

.logo {
    height: 3.5rem;
}

.nav_menu_box {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu {
    text-decoration: none;
    margin-left: 4.6rem;
    border-bottom: 0.2rem solid #00000000;
    transition-property: border-bottom;
    transition-duration: 0.3s;
}
.nav_menu:hover {
    border-bottom: 0.2rem solid var(--blue);
}

.nav_login {
    background: none;
    border: 0.2rem solid #00000000;
    transition-property: border-bottom;
    transition-duration: 0.3s;
}
.nav_login:hover {
    cursor: pointer;
    border-bottom: 0.2rem solid var(--blue);
}

/* login */

.login_box {
    position: absolute;
    right: -36rem;
    top: 8rem;
    padding: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0.4rem;
    transition-property: right;
    transition-duration: 0.3s;
    box-shadow: 0rem 0rem 1.2rem var(--more_darken);
}

.login_value {
    display: block;
    width: 22rem;
    height: 2.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--black);
    border-radius: 0.4rem;
}

.login_button {
    display: block;
    width: 24.16rem;
    height: 3.2rem;
}

/* opened nav */

.nav_menu_cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 160%;
    top: 0;
    left: 0;
    border: 0;
}

.nav_menu_open {
    display: relative;
    position: fixed;
    top: 0;
    left: 110%;
    padding-top: 0.8rem;
    width: 30%;
    height: 160%;
    box-shadow: -0.6rem 0rem 0.6rem #00000022;
    transition-property: left;
    transition-duration: 0.3s;
}

.nav_menu_open_item {
    display: block;
    padding-left: 10%;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}
.nav_menu_open_item + .nav_menu_open_item {
    border-top: 0.6px solid #cbd1d6;
}
.nav_menu_open_item:hover {
    background-color: var(--blue);
    color: var(--white);
}

.nav_menu_button {
    display: none;
    margin-top: 0.5rem;
    background-image: url('../img/navBtn.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #00000000;
    border: none;
    outline: none;
    transition-property: background-image;
    transition-duration: 0.2s;
}
.nav_menu_button:hover {
    background-image: url('../img/navBtnBlue.svg'); 
    cursor: pointer;
}

/* footer */

footer {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.footer_box {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.footer_button {
    display: inline-block;
    width: 24.6rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    text-decoration: none;
}

.footer_link_box {
    width: 100%;
    text-align: center;
    margin-top: 8rem;
}

.footer_link {
    cursor: pointer;
}
.footer_link + .footer_link {
    margin-left: 0.6rem;
}

.footer_img {
    width: 3.4rem;
    height: 3.4rem;
}

.footer_index_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 94rem;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.footer_index {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.footer_index_title {
    display: inline;
    margin-right: 1rem;
    font-size: 1rem;
}

.footer_index_value {
    display: inline;
    font-size: 1rem;
}

.footer_hr {
    border: 0;
    width: 90%;
    height: 0.01rem;
}

.footer_subvalue_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 46rem;
    margin-right: auto;
    margin-left: auto;
}

.footer_index_subvalue {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.8rem;
    text-decoration: none;
    font-size: 1rem;
}