/* nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
}

#logo {
    height: 3.5rem;
}

#nav_menu_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 30%;
    max-width: 30rem;
    margin: 0;
    padding: 0;
}

.nav_menu {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.6rem;
    border-bottom: 0 solid #ffffffff;
    transition-property: border-color;
    transition-duration: 0.3s;
}
.nav_menu:hover {
    border-bottom: 0.2rem solid var(--blue);
}


/* opened nav */

#nav_menu_cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 160%;
    top: 0;
    left: 0;
    background-color: #00000099;
    border: 0;
    outline: 0;
}

#nav_menu_open {
    display: relative;
    width: 30%;
    height: 160%;
    position: fixed;
    top: 0;
    left: 110%;
    padding-top: 0.8rem;
    background-color: white;
    box-shadow: -0.6rem 0rem 0.6rem #00000022;
    transition-property: left;
    transition-duration: 0.3s;
}

.nav_menu_open_item {
    display: block;
    padding-left: 10%;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}
.nav_menu_open_item + .nav_menu_open_item {
    border-top: 0.6px solid #cbd1d6;
}
.nav_menu_open_item:hover {
    background-color: var(--blue);
    color: white;
}

#nav_menu_button {
    display: none;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.5rem;
    background-image: url('../img/navBtn.svg'); 
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    background-color: white;
    border: none;
    outline: none;
    transition-property: background-image;
    transition-duration: 0.2s;
}
#nav_menu_button:hover {
    background-image: url('../img/navBtnBlue.svg'); 
    cursor: pointer;
}


/* header */

header {
    background-image: url('../img/headerImage.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 50rem;
}

.header_cover {
    background-color: #00000022;
    height: 100%;
}

.darken {
    background-color: #00000088;
}

.header_text_title {
    padding-top: 31rem;
    padding-left: 8%;
    margin-bottom: 1.2rem;
    font-size: 5.5rem;
    color:white;    
}

.header_text_index {
    text-align: left;
    padding-left: 8%;
    color:white;
}


/* footer */

footer {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

#footer_box {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.footer_text {
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 3.6rem;
}

#footer_button {
    display: inline-block;
    width: 30rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.4rem;
    text-decoration: none;
}

#footer_link_box {
    width: 100%;
    text-align: center;
    margin-top: 8rem;
}

.footer_link {
    cursor: pointer;
}
.footer_link + .footer_link {
    margin-left: 0.6rem;
}

.footer_img {
    width: 2.4rem;
    height: 2.4rem;
}

#footer_index_box {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 100rem;
    height: fit-content;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-right: auto;
    margin-left: auto;
}

.footer_index {
    display: block;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: white;
}

.footer_index_title {
    display: inline;
    font-weight: bold;
    margin-right: 1rem;
    color: white;
}

.footer_index_value {
    display: inline;
    color: white;
}

#footer_hr {
    border: 0;
    width: 85%;
    height: 0.01rem;
    margin-top: 1.3rem;
    background-color: var(--lightgrey);
}

#footer_subvalue_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    max-width: 54rem;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

#footer_index_copyright {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.8rem;
    color: var(--lightgrey);
    font-size: 1.1rem;
    text-decoration: none;
}

.footer_index_subvalue {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.8rem;
    color: var(--lightgrey);
    font-size: 1.1rem;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.2s;
}
.footer_index_subvalue:hover {
    color: var(--blue);
}