/* nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
}

.logo {
    height: 3.5rem;
}

.nav_menu_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    max-width: 30rem;
}

.nav_menu {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.6rem;
    border-bottom: 0 solid #ffffffff;
    transition-property: border-color;
    transition-duration: 0.3s;
}
.nav_menu:hover {
    border-bottom: 0.2rem solid var(--blue);
}


/* opened nav */

.nav_menu_cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 160%;
    top: 0;
    left: 0;
    border: 0;
}

.nav_menu_open {
    display: relative;
    position: fixed;
    top: 0;
    left: 110%;
    padding-top: 0.8rem;
    width: 30%;
    height: 160%;
    box-shadow: -0.6rem 0rem 0.6rem #00000022;
    transition-property: left;
    transition-duration: 0.3s;
}

.nav_menu_open_item {
    display: block;
    padding-left: 10%;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}
.nav_menu_open_item + .nav_menu_open_item {
    border-top: 0.6px solid #cbd1d6;
}
.nav_menu_open_item:hover {
    background-color: var(--blue);
    color: var(--white);
}

.nav_menu_button {
    display: none;
    margin-top: 0.5rem;
    background-image: url('../img/navBtn.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: var(--white);
    border: none;
    outline: none;
    transition-property: background-image;
    transition-duration: 0.2s;
}
.nav_menu_button:hover {
    background-image: url('../img/navBtnBlue.svg'); 
    cursor: pointer;
}


/* header */

header {
    width: 100%;
    height: 50rem;
    background-image: url('../img/headerImage.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.header_cover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-color: #00000044;
}

.header_box {
    width: fit-content;
    height: fit-content;
    margin-left: 6%;
    margin-bottom: 6rem;
}


/* footer */

footer {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.footer_box {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.footer_button {
    display: inline-block;
    width: 24.6rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    text-decoration: none;
}

.footer_link_box {
    width: 100%;
    text-align: center;
    margin-top: 8rem;
}

.footer_link {
    cursor: pointer;
}
.footer_link + .footer_link {
    margin-left: 0.6rem;
}

.footer_img {
    width: 4rem;
    height: 4rem;
}

.footer_index_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 100rem;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.footer_index {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.footer_index_title {
    display: inline;
    margin-right: 1rem;
}

.footer_index_value {
    display: inline;
}

.footer_hr {
    border: 0;
    width: 90%;
    height: 0.01rem;
}

.footer_subvalue_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    max-width: 54rem;
    margin-right: auto;
    margin-left: auto;
}

.footer_index_subvalue {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.8rem;
    text-decoration: none;
}