@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* intro */

    .intro_content {
        display: block;
    }

    .intro_image {
        display: block;
        width: 80%;
        max-width: 48rem;
        margin-left: auto;
        margin-right: auto;
    }

    .intro_box {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* lecture */

    .lecture_index {
        width: 49%;
    }

    .lecture_count {
        padding-top: 0.42rem;
        padding-bottom: 0.42rem;
    }

    /* content_distinction */

    .distinction_box {
        width: 43rem;
    }

    .distinction_item {
        width: 20rem;
    }

    /* content_benefit */

    .benefit_item {
        flex-direction: column;
        width: 80%;
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    .benefit_img {
        display: block;
        width: 100%;
        height: 22rem;
    }

    .benefit_content {
        width: 100%;
    }

    /* mentor */

    .mentor_box {
        display: block;
    }

    .mentor_image {
        display: block;
        width: 22rem;
        height: 22rem;
        margin-right: auto;
        margin-left: auto;
    }

    .mentor_info_box {
        display: block;
        text-align: center;
        margin-top: 2.3rem;
    }

    .mentor_aditional_box {
        flex-direction: row;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* office */

    .office_map {
        width: 750px;
        height: 375px;
    }
}

@media screen and (min-width: 410px) and (max-width: 767px) {

    /* intro */

    .intro_content {
        display: block;
        width: 100%;
    }

    .intro_image {
        display: block;
        width: 100%;
        height: 13rem;
        object-fit: cover;
    }

    .intro_box {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* lecture */

    .lecture_box {
        max-width: 26rem;
    }

    .lecture_index {
        width: 100%;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }

    .lecture_count {
        padding-top: 0.38rem;
        padding-bottom: 0.38rem;
    }

    .lecture_button_box {
        width: 90%;
    }

    .lecture_button {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }

    /* content_distinction */

    .distinction_box {
        width: 20rem;
    }

    .distinction_item_image {
        width: 5rem;
    }

    /* content_benefit */

    .benefit_item {
        flex-direction: column;
        width: 100%;
    }

    .benefit_img {
        display: block;
        width: 100%;
        height: 16rem;
    }

    .benefit_content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* mentor */

    .mentor_box {
        display: block;
    }

    .mentor_image {
        display: block;
        width: 17rem;
        height: 17rem;
        margin-right: auto;
        margin-left: auto;
    }

    .mentor_info_box {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }

    .mentor_aditional_box {
        flex-direction: row;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .mentor_career {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    /* office */

    .office_map {
        width: 390px;
        height: 205px;
    }
}

@media screen and (max-width: 409px) {

    /* intro */

    .intro_content {
        display: block;
        width: 100%;
    }

    .intro_image {
        display: block;
        width: 100%;
        height: 13rem;
        object-fit: cover;
    }

    .intro_box {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* introduction */

    .introduction_box {
        width: 90%;
    }

   /* lecture */

    .lecture_index {
        width: 100%;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }

    .lecture_count {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    .lecture_button_box {
        width: 90%;
    }

    .lecture_button {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

   /* content_distinction */

    .distinction_box {
        width: 19rem;
    }

    .distinction_item_image {
        width: 4rem;
    }

   /* content_benefit */

    .benefit_item {
        flex-direction: column;
        width: 100%;
    }

    .benefit_img {
        display: block;
        width: 100%;
        height: 14rem;
    }

    .benefit_content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* mentor */

    .mentor_box {
        display: block;
    }

    .mentor_image {
        display: block;
        width: 12rem;
        height: 12rem;
        margin-right: auto;
        margin-left: auto;
    }

    .mentor_info_box {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }

    .mentor_aditional_box {
        flex-direction: row;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .mentor_career {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

   /* office */

    .office_map {
        width: 340px;
        height: 170px;
    }
}
