/* nav scroll */

/* #nav_scroll {
    position: fixed;
    background-color: var(--white);
    opacity: 0.0;
    top: 0;
    left: 0;
    box-shadow: 0 0.05rem 3rem 0 #dddddd;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#progress_bar {
    width: 90%;
    max-width: 80rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #dddddd;
}

#progress_point {
    width: 0rem;
    height: 100%;
    border-radius: 1rem;
    background-color: #28aee3;
}

.scroll_point {
    position: relative;
    top: -1.4rem;
    left: -1rem;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #dddddd;
} */

/* intro */

.intro_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 86rem;
    height: fit-content;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

.intro_image {
    width: 50%;
}

.intro_box {
    width: 50%;
    margin-left: 2%;
}

/* introduction */

.introduction_box {
    width: 80%;
    max-width: 60rem;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

.introduction_text_box {
    display: flex;
    justify-content: end;
    width: 100%;
    height: fit-content;
    border-radius: 0.4rem;
}

.introduction_text {
    width: 90%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}


/* lecture */

.lecture_box_title {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--grey);
}

.lecture_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 80rem;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

.lecture_index {
    width: 32.2%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 0.4rem;
    text-align: center;
}

.lecture_count {
    display: inline-block;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.lecture_button_box {
    width: 80%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.lecture_button {
    width: 100%;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* content_distinction */

.distinction_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 80rem;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.distinction_item {
    width: 26rem;
    text-align: center;
}

.distinction_item_image {
    width: 7rem;
}

/* content_benefit */

.benefit_box {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.benefit_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.benefit_img {
    display: inline-block;
    width: 53%;
    height: 24rem;
    object-fit: cover;
}

.benefit_content {
    width: 43%;
}

/* mentor */

.mentor_box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 54rem;
    margin-right: auto;
    margin-left: auto;
}

.mentor_image {
    display: inline-block;
    width: 24rem;
    height: 24rem;
}

.mentor_info_box {
    display: inline-block;
}

.mentor_aditional_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28rem;
}

.mentor_career {
    width: 31%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* office */

.office_box {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.office_map {
    border: 0;
    width: 800px;
    height: 400px;
}

