/* nav scroll */

#nav_scroll {
    position: fixed;
    background-color: var(--white);
    opacity: 0.0;
    top: 0;
    left: 0;
    box-shadow: 0 0.05rem 3rem 0 #dddddd;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#progress_bar {
    width: 90%;
    max-width: 80rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #dddddd;
}

#progress_point {
    width: 0rem;
    height: 100%;
    border-radius: 1rem;
    background-color: #28aee3;
}

.scroll_point {
    position: relative;
    top: -1.4rem;
    left: -1rem;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #dddddd;
}

/* intro */

#intro_content {
    width: 90%;
    max-width: 80rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

#intro_image {
    width: 50%;
}

#intro_box {
    width: 50%;
}

.intro_title {
    color: var(--blue);
    margin: 0;
    margin-top: 2.6rem;
}

/* introduction */

#introduction_box {
    width: 80%;
    max-width: 80rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

.introduction_text {
    width: 20%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2%;
    padding-right: 2%;
    border: 0.1rem solid var(--blue);
    border-radius: 0.6rem;
}


/* lecture */

.lecture_box_title {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--grey);
}

.lecture_box {
    width: 100%;
    max-width: 80rem;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    list-style: none;
    border-radius: 0.6rem;
}

.lecture_box + .lecture_box_title {
    margin-top: 3.2rem;
}

.lecture_index {
    width: 32.2%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    border-radius: 0.4rem;
}

.lecture_title {
    margin-bottom: 0.4rem;
}

.lecture_info {
    margin: 0;
    margin-bottom: 1.2rem;
}

.lecture_empty {
    display: inline-block;
    width: 50%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    text-decoration: none;
}

#lecture_button_box {
    max-width: 50rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#lecture_button {
    width: 100%;
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#lecture_notice_box {
    margin-top: 2rem;
}

/* content_distinction */

#distinction_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 75rem;
    height: 50rem;
    margin-right: auto;
    margin-left: auto;
}

.distinction_item {
    width: 20rem;
    text-align: center;
}

.distinction_item_image {
    width: 7rem;
}

.distinction_item_title {
    margin: 0;
    margin-top: 3rem;
    color: var(--black);
    font-size: 1.8rem;
    text-align: center;
}

.distinction_item_text {
    margin: 0;
    margin-top: 2rem;
    color: var(--black);
    font-size: 1.4rem;
    
    line-height: 2.2rem;
}

/* content_benefit */

#benefit_box {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.benefit_item {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100rem;
    height: 25rem;
    text-align: center;
}

.benefit_img {
    display: inline-block;
    width: 52%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#benefit_img1 {
    background-image: url('../img/benefit_1.jpg'); 
}

#benefit_img2 {
    background-image: url('../img/benefit_2.jpg'); 
}

#benefit_img3 {
    background-image: url('../img/benefit_3.jpg'); 
}

#benefit_img4 {
    background-image: url('../img/benefit_4.jpg'); 
}

.benefit_content {
    display: inline-block;
    width: 44%;
    text-align: left;
}
.text_left {
    text-align: right;
}
.mobile {
    display: none;
}

.benefit_title {
    margin: 0;  
    color: var(--black);
    font-size: 2rem;
    
}

.benefit_text {
    margin: 0;
    margin-top: 2rem;
    color: var(--black);
    font-size: 1.6rem;
    
    line-height: 2.2rem;
}

/* mentor */

#mentor_box {
    display: flex;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

#mentor_image {
    display: inline-block;
    width: 24rem;
    margin-right: 7rem;
}

#mentor_info_box {
    display: inline-block;
}

#mentor_personal_box {
    margin-bottom: 2.2rem;
}

.mentor_title {
    margin: 0;
    color: var(--black);
    font-size: 1.6rem;
    
    font-weight: 600;
}

.mentor_info {
    margin: 0;
    margin-top: 0.6rem;
    color: var(--black);
    font-size: 1.4rem;
    
    font-weight: 400;
}
.mentor_title + .mentor_info {
    margin-bottom: 1.2rem;
}

#mentor_aditional_box {
    display: flex;
    justify-content: space-between;
    width: 28rem;
}

.mentor_career {
    width: 16rem;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}
.mentor_career + .mentor_career {
    margin-left: 1rem;
}

/* office */

#office_box {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

#office_addr {
    
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0.8rem;
}

