@media screen and (min-width: 1025px) and (max-width: 1300px) {

    /* nav */

    nav {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    /* header */

    header {
        height: 40rem;
    }

    #header_text_title {
        padding-top: 23rem;
        padding-left: 6rem;
    }

    .header_text_index {
        padding-left: 6rem;
    }

    /* intro */
    #intro_image {
        width: 30rem;
        margin-right: 3rem;
    }

    .intro_text {
        font-size: 1.4rem;
    }

    .intro_title {
        font-size: 2.3rem;
    }

    /* introduction */

    #introduction_box {
        display: flex;
        width: 68rem;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        list-style: none;
        border-radius: 0.6rem;
    }

    .introduction_text {
        width: 14rem;
        font-size: 1.5rem;
    }

    /* content_distinction */

    #distinction_box {
        width: 68rem;
        height: 48rem;
    }

    /* content_benefit */

    .benefit_item {
        width: 75rem;
    }

    /* footer */


    #footer_box {
        width: fit-content;
        margin-left: 7.5%;
    }

    #footer_index_box {
        width: 60rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* nav */

    nav {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #nav_menu_box {
        display: none;
    }

    #nav_menu_button {
        display: inline-block;
    }

    /* header */

    header {
        height: 35rem;
    }

    #header_cover {
        height: 35rem;
    }

    #header_text_title {
        padding-top: 19rem;
        padding-left: 6rem;
        margin-bottom: 1.2rem;
        font-size: 5rem;
    }

    .header_text_index {
        padding-left: 6rem;
        font-size: 1.3rem;
    }

    /* intro */

    #intro_content {
        display: block;
    }

    #intro_image {
        display: block;
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    #intro_box {
        display: block;
        margin-top: 3rem;
    }

    .intro_text {
        text-align: center;
    }

    /* introduction */

    #introduction {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #introduction_box {
        width: 37.5rem;
        height: 26.5rem;
    }

    /* lecture */

    #lecture_box {
        width: 41rem;
        height: 40rem;
    }

    #lecture_button {
        width: 39rem;
    }

    /* content_distinction */

    #distinction_box {
        width: 43rem;
        height: 72rem;
    }

    /* content_benefit */

    .benefit_item {
        display: block;
        width: 50rem;
        height: fit-content;
    }
    .benefit_item + .benefit_item {
        margin-top: 4rem;
    }

    .benefit_img {
        display: block;
        width: 100%;
        height: 30rem;
    }

    .benefit_content {
        display: block;
        width: 100%;
        margin-top: 2.5rem;
    }

    .text_left {
        display: none;
    }

    /* mentor */

    #mentor_box {
        display: block;
    }

    #mentor_image {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #mentor_info_box {
        display: block;
        text-align: center;
    }

    /* office */

    #map {
        width: 50rem;
    }

    /* footer */

    #footer_box {
        width: 50rem;
        margin-right: auto;
        margin-left: auto;
    }

    .footer_text {
        font-size: 2.6rem;
    }

    #footer_button {
        width: 20rem;
        font-size: 2rem;
    }
    #footer_button:hover {
        width: 25rem;
    }

    #footer_index_box {
        width: 80%;
    }

    #footer_subvalue_box {
        width: 80%;
    }
}

@media screen and (min-width: 410px) and (max-width: 767px) {

     /* nav */

    nav {
        width: 100%-4rem;
        height: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #logo {
        height: 2.5rem;
    }

    #nav_menu_box {
        display: none;
    }

    #nav_menu_button {
        display: inline-block;
    }

    /* header */

    header {
        height: 18rem;
    }

    #header_cover {
        height: 35rem;
    }

    #header_text_title {
        padding-top: 9rem;
        padding-left: 2.2rem;
        margin-bottom: 0.8rem;
        font-size: 2.2rem;
    }

    .header_text_index {
        padding-left: 2.2rem;
        font-size: 1.1rem;
    }
    .header_text_index + .header_text_index {
        margin-top: 0.4rem;
    }

    /* intro */

    #intro_content {
        display: block;
    }

    #intro_image {
        display: block;
        width: 24rem;
        margin-left: auto;
        margin-right: auto;
    }

    #intro_box {
        display: block;
        margin-top: 3rem;
    }

    .intro_text {
        font-size: 1.1rem;
        text-align: center;
    }

    .intro_title {
        font-size: 1.8rem;
        text-align: center;
        line-height: 2.6rem;
    }

    /* introduction */

    #introduction {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #introduction_box {
        width: 22rem;
        height: 26rem;
    }

    .introduction_text {
        width: 20rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 1.2rem;
    }

    /* lecture */

    #lecture {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #lecture_box {
        width: 22rem;
        height: 58rem;
    }

    .lecture_index {
        width: 22rem;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }

    .lecture_title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .lecture_info {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .lecture_empty {
        width: 8rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;
    }
    .lecture_empty:hover {
        width: 10rem;
    }

    #lecture_button {
        width: 24rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* content_distinction */

    #distinction_box {
        width: 20rem;
        height: 90rem;
    }

    .distinction_item_image {
        width: 5rem;
    }

    .distinction_item_title {
        margin-top: 1.5rem;
        color: #1E2022;
        font-size: 1.4rem;
    }
    
    .distinction_item_text {
        margin-top: 1rem;
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    /* content_benefit */

    .benefit_item {
        display: block;
        width: 26rem;
        height: fit-content;
    }
    .benefit_item + .benefit_item {
        margin-top: 2.5rem;
    }

    .benefit_img {
        display: block;
        width: 100%;
        height: 18rem;
    }

    .benefit_content {
        display: block;
        width: 100%;
        margin-top: 2rem;
    }

    .benefit_title {
        font-size: 1.6rem;
    }

    .benefit_text {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .text_left {
        display: none;
    }

    /* mentor */

    #mentor_box {
        display: block;
    }

    #mentor_image {
        display: block;
        width: 18rem;
        margin-right: auto;
        margin-left: auto;
    }

    #mentor_info_box {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }

    #mentor_personal_box {
        margin-bottom: 2rem;
    }

    .mentor_title {
        font-size: 1.2rem;
    }
    
    .mentor_info {
        margin-top: 0.6rem;
        font-size: 1rem;
    }

    #mentor_aditional_box {
        width: 26rem;
    }

    .mentor_career {
        width: 16rem;
    }

    /* office */

    #map {
        width: 26rem;
        height: 18rem;
    }

    #office_addr {
        font-size: 0.9rem;
        margin-top: 0.6rem;
    }

    /* footer */

    footer {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    #footer_box {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .footer_text {
        font-size: 1.5rem;
    }

    #footer_button {
        width: 12rem;
        font-size: 1.1rem;
    }
    #footer_button:hover {
        width: 16rem;
    }

    #footer_index_box {
        width: 80%;
    }

    #footer_subvalue_box {
        width: 80%;
    }
}

@media screen and (max-width: 409px) {

    /* nav */

    nav {
        width: 100%-4rem;
        height: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #logo {
    height: 2.5rem;
    }

    #nav_menu_box {
        display: none;
    }

    #nav_menu_button {
        display: inline-block;
    }

   /* header */

    header {
        height: 14rem;
    }

    #header_cover {
        height: 14rem;
    }

    #header_text_title {
        padding-top: 7rem;
        padding-left: 2rem;
        margin-bottom: 0.8rem;
        font-size: 1.5rem;
    }

    .header_text_index {
        padding-left: 2rem;
        font-size: 1rem;
    }
    .header_text_index + .header_text_index {
        margin-top: 0.4rem;
    }

    /* intro */

    #intro_content {
        display: block;
    }

    #intro_image {
        display: block;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    #intro_box {
        display: block;
        margin-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .intro_text {
        font-size: 1.1rem;
        text-align: center;
    }

    .intro_title {
        font-size: 1.3rem;
        text-align: center;
        line-height: 1.8rem;
    }

   /* introduction */

    #introduction {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #introduction_box {
        width: 20rem;
        height: 22rem;
    }

    .introduction_text {
        width: 18rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.1rem;
    }

   /* lecture */

    #lecture {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #lecture_box {
        width: 17rem;
        height: 65rem;
    }

    .lecture_index {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .lecture_title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .lecture_info {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .lecture_empty {
        width: 8rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;
    }
    .lecture_empty:hover {
        width: 10rem;
    }

    #lecture_button {
        width: 19rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
    }

   /* content_distinction */

    #distinction_box {
        width: 19rem;
        height: 80rem;
    }

    .distinction_item_image {
        width: 4rem;
    }

    .distinction_item_title {
        margin-top: 1.5rem;
        color: #1E2022;
        font-size: 1.2rem;
    }
    
    .distinction_item_text {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }

   /* content_benefit */

    .benefit_item {
        display: block;
        width: 21rem;
        height: fit-content;
    }
    .benefit_item + .benefit_item {
        margin-top: 2rem;
    }

    .benefit_img {
        display: block;
        width: 100%;
        height: 14rem;
    }

    .benefit_content {
        display: block;
        width: 100%;
        margin-top: 1.6rem;
    }

    .benefit_title {
        font-size: 1.2rem;
    }

    .benefit_text {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .text_left {
        display: none;
    }

   /* mentor */

    #mentor_box {
        display: block;
    }

    #mentor_image {
        display: block;
        width: 12rem;
        margin-right: auto;
        margin-left: auto;
    }

    #mentor_info_box {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }

    #mentor_personal_box {
        margin-bottom: 2rem;
    }

    .mentor_title {
        font-size: 1.2rem;
    }
    
    .mentor_info {
        margin-top: 0.6rem;
        font-size: 1rem;
    }

    #mentor_aditional_box {
        flex-direction: column;
        width: 21rem;
        height: 7rem;
        margin-left: auto;
        margin-right: auto;
    }

    .mentor_career {
        width: 100%;
        height: 100% - 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    .mentor_career + .mentor_career {
        margin-left: 0;
        margin-top: 1rem;
    }

    .mentor_icon {
        background-size: 2.2rem, 2.2rem;
        width: 3rem;
        height: 100%-0.2rem;
        border-radius: 0.4rem;
    }

   /* office */

    #map {
        width: 21rem;
        height: 14rem;
    }

    
    #office_addr {
        font-size: 0.9rem;
        margin-top: 0.6rem;
    }

   /* footer */

    footer {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    #footer_box {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .footer_text {
        font-size: 1.3rem;
    }

    #footer_button {
        width: 10rem;
        margin-top: 0.5rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        font-size: 1.1rem;
    }
    #footer_button:hover {
        width: 13rem;
    }

    #footer_index_box {
        width: 80%;
    }

    #footer_subvalue_box {
        width: 80%;
    }
}
