/* brand */

#brand_option {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    border: 1px solid #4088eb;
    border-radius: 0.4rem;
}

#brand_option > .content_value {
    transition-property: color;
    transition-duration: 0.2s;
}
#brand_option > .content_value:hover {
    color: #4088eb;
}

#brand_box {
    width: 40rem;
    height: 20rem;
    background-image: url('../img/brand.jpg'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/* purpose */

/* goal */

/* history */

/* member */ 