section {
    width: 94%;
    max-width: 140rem;
}

.member_box {
    width: 94%;
    max-width: 140rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logout_button {
    width: 10rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.membem_list {
    width: 100%;
    height: fit-content;
    border-spacing: 0;
    border-collapse: collapse;
}

.table_row {
    height: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.table_column_input {
    border-radius: 0.4rem;
}

.table_column_button {
    width: 4rem;
    height: 80%;
}
.table_column_button:hover {
    cursor: pointer;
    box-shadow: none;
}
.table_column_button + .table_column_button {
    margin-left: 0.6rem;
}