main {
    display: none;
}

section {
    background-color: #f9f9f9;
}

#auth_box {
    width: fit-content;
    margin-top: 18rem;
    margin-left: auto;
    margin-right: auto;
}

.auth_input {
    display: block;
    width: 40rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
    font-family: NanumSquare;
    font-weight: 400;
    color: #1E2022;
    border: 1px solid #1E2022;
    border-radius: 0.4rem;
}
.auth_input + .auth_input {
    margin-top: 1rem;
}

.auth_button {
    display: block;
    width: 42.16rem;
    height: 3.8rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: NanumSquare;
    font-weight: 400;
    color: white;
    background-color: #4088eb;
    border: none;
    border-radius: 0.4rem;
}
.auth_button {
    cursor: pointer;
}

#auth_logout {
    display: block;
    margin-left: auto;
    margin-right: 10%;
    width: 10rem;
    height: 2.6rem;
    background-color: white;
    color: #1E2022;
    border: 1px solid #4088eb;
    border-radius: 0.4rem;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}
#auth_logout:hover {
    background-color: #4088eb;
    color: white;
    cursor: pointer;
}

.contents_title {
    width: 80%;
    max-width: 140rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: NanumSquare;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 400;
}

#membem_list {
    width: 80%;
    max-width: 140rem;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    color: #1E2022;
    font-size: 1.3rem;
    font-family: NanumSquare;
    font-weight: 400;
    border-spacing: 0;
}

.table_column_title {
    background-color: #4088eb;
    color: white;
}

.table_column {
    width: fit-content;
    height: 3rem;
    text-align: center;
}

.table_column_divide {
    width: fit-content;
    height: 3rem;
    text-align: center;
    border-bottom: 1px solid #1E2022;
}

.table_column_input {
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-family: NanumSquare;
    font-weight: 400;
    color : #4088eb;
    border: none;
}

.table_column_button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    background-color: white;
    border: 1px solid #4088eb;
    border-radius: 0.4rem;
    color: #1E2022;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}
.table_column_button:hover {
    background-color: #4088eb;
    color: white;
    cursor: pointer;
}
.table_column_button + .table_column_button {
    margin-left: 0.6rem;
}