/* Font Elements */

@font-face {
    font-family: 'NanumSquare';
    src: url('../fonts/NanumSquareR.ttf');
}
@font-face {
    font-family: 'Ikaros';
    src: url('../fonts/Ikaros-Regular.otf');
}


/* Global Elements */

html {
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, p, a {
    margin: 0;
    padding: 0;
    color: #1E2022;
}
p > span, h2 > span {
    color:#4088eb;
}

/* Common Elements */

.contents {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.content_subtitle {
    margin: 0rem;
    margin-bottom: 1rem;
    font-family: NanumSquare;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
}

.content_title {
    margin: 0rem;
    margin-bottom: 5rem;
    font-family: NanumSquare;
    font-size: 3.2rem;
    text-align: center;
}

.content_explain {
    margin-bottom: 5rem;
    padding-right: 10%;
    padding-left: 10%;
}

.content_value {
    font-family: NanumSquare;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.2rem;
}
.content_value + .content_value {
    margin-top: 0.6rem;
}

.image_src_border {
    border-radius: 0.4rem;
    margin: auto;
}

.grey_background {
    background-color: #f9f9f9;
}

.white_background {
    background-color: #ffffff;
}

.black_background {
    background-color: #1E2022;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .mobile {
        display: block;
    }
}

@media screen and (min-width: 410px) and (max-width: 767px) {

    .contents {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .content_subtitle {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
    }
    
    .content_title {
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }

    .content_explain {
        margin-bottom: 2rem;
    }

    .content_value {
        font-family: NanumSquare;
        font-size: 1rem;
        text-align: center;
        line-height: 1.4rem;
    }
    .content_value + .content_value {
        margin-top: 0.4rem;
    }
}

@media screen and (max-width: 409px) {

    .contents {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .content_subtitle {
        font-size: 1rem;
        margin-bottom: 0.6rem;
    }
    
    .content_title {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .content_explain {
        margin-bottom: 2rem;
    }

    .content_value {
        font-family: NanumSquare;
        font-size: 1rem;
        text-align: center;
        line-height: 1.3rem;
    }
    .content_value + .content_value {
        margin-top: 0.3rem;
    }
}
