/* Font Elements */

@font-face {
    font-family: 'NanumSquare';
    src: url('../font/NanumSquareR.ttf');
}
@font-face {
    font-family: '경기천년제목 Light';
    src: url('../font/경기천년제목_LIGHT.TTF');
}
@font-face {
    font-family: 'Ikaros';
    src: url('../font/Ikaros-Regular.otf');
}

/* Color Elements */

:root {
    --blue: #3F79ED;
    --black: #1E2022;
    --grey: #f7f7f7;
    --lightgrey: #888888;
    --white: #ffffff;
    --darken: #00000055;
    --more_darken: #00000099;
}

/* Global Style */

html {
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, p, a, td, label, input {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: NanumSquare;
    border: 0;
}

span {
    color: var(--blue);
}

/* Area Style */

.contents {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.content_explain {
    padding-right: 10%;
    padding-left: 10%;
}

/* Button Style */

.contents_button {
    background-color: var(--blue);
    font-family: NanumSquare;
    text-decoration: none;
    color: var(--white);
    border-radius: 0.4rem;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}
.contents_button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--blue);
}

.contents_button_ghost {
    border: 2px solid var(--lightgrey);
    font-family: NanumSquare;
    text-decoration: none;
    color: var(--white);
    border-radius: 0.4rem;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}
.contents_button_ghost:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--lightgrey);
}

.align_center {
    margin-left: auto;
    margin-right: auto;
}

.light_grey_border_bottom {
    border-bottom: 2px solid var(--lightgrey);
}

/* Text Color Style */

.black_font {
    color: var(--black);
}

.white_font {
    color: var(--white);
}

.blue_font {
    color: var(--blue);
}

.light_grey_font {
    color: var(--lightgrey);
}

.hover_blue_font {
    transition-property: color;
    transition-duration: 0.2s;
}
.hover_blue_font:hover {
    color: var(--blue);
}

/* Background Color Style */

.grey_background {
    background-color: var(--grey);
}

.light_grey_background {
    background-color: var(--lightgrey);
}

.white_background {
    background-color: var(--white);
}

.black_background {
    background-color: var(--black);
}

.blue_background {
    background-color: var(--blue);
}

.darken_background {
    background-color: var(--darken);
}

/* ============================================================================================ */

/* Display Style */

.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* Text Size Style */

.content_name {
    font-size: 5rem;
    text-align: center;
}

.content_title {
    font-size: 3.2rem;
    text-align: center;
}

.content_subtitle {
    font-size: 1.7rem;
    text-align: center;
}

.content_value {
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
}

/* Margin Style */

.margin_top_large {
    margin-top: 5rem;
}

.margin_top_medium {
    margin-top: 2.8rem;
}

.margin_top_small {
    margin-top: 1.3rem;
}

.margin_top_extra_small {
    margin-top: 0.6rem;
}

.spacing_medium + .spacing_medium {
    margin-top: 2.8rem
}

.spacing_small + .spacing_small {
    margin-top: 1.3rem
}

.spacing_extra_small + .spacing_extra_small {
    margin-top: 0.6rem
}

/* Text Style */

.italic {
    font-style: italic;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* Display Style */

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Text Size Style */

    .content_name {
        font-size: 5rem;
    }

    .content_title {
        font-size: 2.7rem;
    }

    .content_subtitle {
        font-size: 1.6rem;
    }

    .content_value {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    /* Margin Style */

    .margin_top_medium {
        margin-top: 2.3rem;
    }

    .margin_top_small {
        margin-top: 1.3rem;
    }

    .margin_top_extra_small {
        margin-top: 0.6rem;
    }

    .spacing_medium + .spacing_medium {
        margin-top: 2.4rem
    }
    .mobile_spacing_medium + .mobile_spacing_medium {
        margin-top: 2.4rem
    }

    .spacing_small + .spacing_small {
        margin-top: 1.3rem
    }

    .spacing_extra_small + .spacing_extra_small {
        margin-top: 0.6rem
    }
}

@media screen and (min-width: 410px) and (max-width: 767px) {

    /* Display Style */

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Text Align Style */

    .mobile_text_left {
        text-align: left;
    }

    /* Area Style */

    .contents {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .content_explain {
        padding-right: 5%;
        padding-left: 5%;
    }

    /* Text Size Style */

    .content_name {
        font-size: 2.2rem;
    }
    
    .content_title {
        font-size: 1.6rem;
    }

    .content_subtitle {
        font-size: 1.16rem;
    }

    .content_value {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    /* Margin Style */

    .margin_top_medium {
        margin-top: 1.7rem;
    }

    .margin_top_small {
        margin-top: 0.9rem;
    }

    .margin_top_extra_small {
        margin-top: 0.5rem;
    }

    .spacing_medium + .spacing_medium {
        margin-top: 2.1rem
    }
    .mobile_spacing_medium + .mobile_spacing_medium {
        margin-top: 2.1rem
    }

    .spacing_small + .spacing_small {
        margin-top: 0.9rem
    }
    .mobile_spacing_small + .mobile_spacing_small {
        margin-top: 0.9rem
    }

    .spacing_extra_small + .spacing_extra_small {
        margin-top: 0.4rem
    }
}

@media screen and (max-width: 409px) {

    /* Area Style */

    .contents {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .content_explain {
        padding-right: 5%;
        padding-left: 5%;
    }

    /* Text Size Style */

    .content_name {
        font-size: 2.2rem;
    }

    .content_title {
        font-size: 1.4rem;
    }

    .content_subtitle {
        font-size: 1.06rem;
    }

    .content_value {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    /* Text Align Style */

    .mobile_text_left {
        text-align: left;
    }

    /* Display Style */

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Margin Style */

    .margin_top_medium {
        margin-top: 1.4rem;
    }

    .margin_top_small {
        margin-top: 0.8rem;
    }

    .margin_top_extra_small {
        margin-top: 0.5rem;
    }

    .spacing_medium + .spacing_medium {
        margin-top: 2rem
    }
    .mobile_spacing_medium + .mobile_spacing_medium {
        margin-top: 2rem
    }

    .spacing_small + .spacing_small {
        margin-top: 0.8rem;
    }
    .mobile_spacing_small + .mobile_spacing_small {
        margin-top: 0.8rem;
    }

    .spacing_extra_small + .spacing_extra_small {
        margin-top: 0.4rem
    }
}
