@media screen and (max-width: 767px) {
    
    .refund_box + .refund_box {
        margin-top: 3rem;
    }

    .refund_title {
        width: 90%;
        margin-bottom: 0.8rem;
    }

    .refund_line {
        width: 90%;
        margin-bottom: 1.4rem;
    }

    .refund_value {
        width: 90%;
    }

    #refund_table {
        width: 90%;
        margin-top: 1.4rem;
    }
}