.refund_title {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}

.refund_line {
    width: 80%;
    max-width: 100rem;
}

.refund_value {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}

.refund_table {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0;
}

.refund_row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.6rem;
}

.refund_column {
    width: 50%;
}

@media screen and (max-width: 767px) {
    
    .refund_row {
        height: 2.8rem;
    }
}