.refund_box + .refund_box {
    margin-top: 6rem;
}

.refund_title {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    text-align: left;
}

.refund_line {
    width: 80%;
    max-width: 100rem;
    background-color: var(--black);
    margin-bottom: 2.2rem;
}

.refund_value {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

#refund_table {
    width: 80%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.2rem;
    border-spacing: 0;
}

.refund_row {
    height: 3.6rem;
}

.table_title {
    background-color: var(--blue);
    color: var(--white);
}

.refund_table_title {
    width: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.refund_table_value {
    width: 20%;
}