@media screen and (max-width: 767px) {
    
    .register_box {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .register_title {
        margin-bottom: 1rem;
    }

    .register_value {
        max-width: 100rem;
    }
    .register_value + .register_value {
        margin-top: 0.6rem;
    }

    .register_form + .register_form {
        margin-top: 2.4rem;
    }

    .register_form_contents {
        margin-top: 1.2rem;
    }

    .register_radio {
        width: 0.6rem;
        height: 0.6rem;
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
    }

    .register_input_text {
        height: 2rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    #register_button {
        margin-top: 3.4rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
}