@media screen and (max-width: 770px) {

    /* header */

    header {
        height: 30rem;
        background-size: auto 30rem;
        background-position: top, top;
    }

    #title {
        width: 100%-6rem;
        height: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #logo {
        height: 2.2rem;
    }

    .nav_menu {
        padding: 0.6rem;
        margin-right: 0;
        margin-left: 0;
        font-size: 1.2rem;
    }

    .nav_hide {
        display: none;
    }

    #header_cover {
        height: 26rem;
    }

    #header_text_box {
        padding-top: 10rem;
        padding-left: 0;
        text-align: center;
    }

    #header_text_title {
        font-size: 4rem;
        margin-bottom: 1.2rem;
    }

    .header_text_index {
        font-size: 1.4rem;
    }
    .header_text_index + .header_text_index {
        margin-top: 0.6rem;
    }

    /* intro */

    #intro {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .intro_text {
        font-size: 1.4rem;
    }
    .intro_text + .intro_text {
        margin-top: 0.8rem;
    }

    .intro_title {
        font-size: 2.2rem;
        margin-top: 2.6rem;
    }

    /* Common Elements */

    .content_article {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .content_title {
        margin-bottom: 4rem;
        font-size: 2.6rem;
    }

    .content_explain {
        margin-bottom: 4rem;
    }

    .content_value {
        font-size: 1.4rem;
    }
    .content_value + .content_value {
        margin-top: 0.6rem;
    }

    /* content_introduction */

    .image_src_border {
        width: 100%;
        border-radius: 1rem;
    }

    .image_src_borderless {
        width: 100%;
    }

    /* content_distinction */

    .distinction_content_index + .distinction_content_index {
        margin-top: 3rem;
    }

    .distinction_content_index_number {
        width: 2rem;
        font-size: 2.6rem;
        margin-right: 3rem;
    }

    .distinction_content_index_box {
        margin-top: 0.6rem;
    }

    .distinction_content_index_box_subtitle {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1.3rem;
    }

    .distinction_content_index_box_value {
        font-size: 1.4rem;
    }
    .distinction_content_index_box_value + .distinction_content_index_box_value {
        margin-top: 0.7rem;
    }

    /* content_target */

    .target_contents_value_box {
        width: 100%;
    }
    .target_contents_value_box + .target_contents_value_box {
        margin-top: 2rem;
    }

    .target_contents_value {   
        flex-basis: 13rem;     
        height: 13rem;
        border-radius: 6.5rem;
        font-size: 1rem;
        font-weight: 600;
    }
    .target_contents_value + .target_contents_value {
        margin-left: 2rem;
    }

    /* content_style */

    .style_contents_box {
        margin-top: 7rem;
    }

    .style_contents_subtitle {
        font-size: 1.7rem;
        margin-bottom: 3rem;
        margin-right: 0;
    }

    .style_contents_value {
        display: block;
    }
    .style_contents_value + .style_contents_value {
        margin-top: 3rem;
    }

    .style_contents_index_subtitle {
        display: block;
        margin-top: 2rem;
        font-size: 1.7rem;
    }

    .style_contents_index_value {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
    .style_contents_index_value + .style_contents_index_value {
        margin-top: 0.7rem;
    }

    .style_contents_explain {
        margin-top: 3rem;
    }

    .style_contents_explain_value {
        width: 80%;
        padding: 3.5%;
        border-radius: 0.8rem;
        font-size: 1.4rem;
    }
    .style_contents_explain_value + .style_contents_explain_value {
        margin-top: 2rem;
    }

    /* content_benefit */

    /* content_info */

    #info {
        padding-bottom: 15rem;
    }

    .info_link_index {
        margin-top: 1rem;
    }

    .info_link_index_background {
        width: 20rem;
        height: 20rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        border-radius: 0.3rem;
    }

    .info_link_index_cover {
        width: 16rem;
        height: 16rem;
        border-radius: 0.3rem;
        padding: 2rem;
    }

    .info_link_index_title {
        font-size: 1.8rem;
    }

    .info_link_index_text {
        margin-top: 0.6rem;
        font-size: 1.2rem;
    }

    /* footer */

    footer {
        width: 100%;
        padding-top: 3.4rem;
        padding-bottom: 2.8rem;
    }

    #footer_contact {
        font-size: 1.6rem;
    }

    .footer_index {
        margin-top: 1.4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.9rem;
    }

    .footer_index_title {
        margin-right: 1rem;
    }

    #footer_hr {
        width: 80%;
        height: 0.01rem;
        margin-top: 1.8rem;
    }
}