/* Global Elements */

@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareR.ttf');
}
@font-face {
    font-family: 'Ikaros';
    src: url('Ikaros-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
    padding: 0;
}
p > span {
    color:#FF7171;
}

/* header */

header {
    background-image: url('headerImage.jpg');
    background-attachment: fixed;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

nav {
    display: flex;
    align-items: center;
}

#title {
    width: 100%-8rem;
    height: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #000000bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 3rem;
}

ul {
    list-style: none;
    display: flex;
}

.nav_menu {
    padding: 0.6rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: NanumSquare;
    border-bottom: 0px solid #ffffff00;
    transition-property: border;
    transition-duration: 0.2s;
}
.nav_menu:hover {
    border-bottom: 2px solid #4088eb88;
}

#header_cover {
    height: 40rem;
    background-color: #00000099;
}

#header_text_box {
    padding-top: 23rem;
    padding-left: 7rem;
}

#header_text_title {
    font-family: Ikaros;
    font-size: 4rem;
    color:#eeeeee;    
    margin-bottom: 1.2rem;
}

.header_text_index {
    font-family: Ikaros;
    font-size: 1.4rem;
    color:#eeeeee;
}
.header_text_index + .header_text_index {
    margin-top: 0.6rem;
}

/* intro */

#intro {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #f9fafb;
}

.intro_text {
    font-family: NanumSquare;
    font-size: 1.6rem;
    color: #8A929A;
    font-style: italic;
    font-weight: normal;
}
.intro_text + .intro_text {
    margin-top: 0.8rem;
}

.intro_title {
    font-family: NanumSquare;
    font-size: 2.6rem;
    color: #FF7171;
    margin-top: 2.6rem;
}

/* Common Elements */

.content_article {
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.content_title {
    margin-bottom: 5rem;
    font-family: NanumSquare;
    font-size: 3.2rem;
    color: #1E2022;
    text-align: center;
}

.content_explain {
    margin-bottom: 5rem;
}

.content_value {
    font-family: NanumSquare;
    font-size: 1.6rem;
    color:#8A929A;
    text-align: center;
}
.content_value + .content_value {
    margin-top: 0.6rem;
}

/* content_introduction */


.image_box {
    display: flex;
    height: fit-content;
    margin: auto;
}

.image_src {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #cccccc;
    box-shadow: 0rem 0rem 1.2rem #cccccc;
}

/* content_distinction */

#distinction {
    background-color:  #f9fafb;
}

#distinction_contents {
    width: fit-content;
    margin: auto;
}

.distinction_content_index {
    display: flex;
}
.distinction_content_index + .distinction_content_index {
    margin-top: 3rem;
}

.distinction_content_index_number {
    width: 2rem;
    display: inline-block;
    font-family: Ikaros;
    font-size: 2.6rem;
    color: #1E2022;
    margin: 0;
    margin-right: 3rem;
}

.distinction_content_index_box {
    display: inline-block;
    margin-top: 0.6rem;
}

.distinction_content_index_box_subtitle {
    font-family: NanumSquare;
    font-size: 2rem;
    font-weight: 400;
    color:#1E2022;
    margin-top: 0;
    margin-bottom: 1.3rem;
}

.distinction_content_index_box_value {
    font-family: NanumSquare;
    font-size: 1.4rem;
    color:#8A929A;
}
.distinction_content_index_box_value + .distinction_content_index_box_value {
    margin-top: 0.7rem;
}

/* content_target */

.target_contents_value_box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.target_contents_value_box + .target_contents_value_box {
    margin-top: 2rem;
}

.target_contents_value {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20rem;     
    height: 20rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10rem;
    box-shadow: 0rem 0rem 1.2rem #cccccc;
    color: #1E2022;
    font-family: NanumSquare;
    font-size: 1.6rem;
    font-weight: 600;
}
.target_contents_value + .target_contents_value {
    margin-left: 2rem;
}

/* content_style */

#style {
    background-color: #f9fafb;
}

#style_contents {
    width: fit-content;
    margin: auto;
}

.style_contents_box {
    margin-top: 5rem;
}

.style_contents_subtitle {
    font-family: NanumSquare;
    font-size: 2rem;
    color:#1E2022;
    margin-top: 0;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.style_contents_value {
    display: flex;
}
.style_contents_value + .style_contents_value {
    margin-top: 3rem;
}

.style_contents_index_subtitle {
    display: inline-block;
    width: 5rem;
    margin: 0;
    margin-right: 3rem;
    font-family: NanumSquare;
    font-size: 2rem;
    font-weight: 400;
    color:#1E2022;
}

.style_contents_index_box {
    display: inline-block;
}

.style_contents_index_value {
    font-family: NanumSquare;
    font-size: 1.4rem;
    color:#8A929A;
}
.style_contents_index_value + .style_contents_index_value {
    margin-top: 0.7rem;
}

.style_contents_explain {
    margin-top: 4rem;
}

.style_contents_explain_value {
    width: 80%;
    margin: auto;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.8rem;
    border: 1px solid #cccccc;
    box-shadow: 0rem 0rem 1.2rem #cccccc;
    font-family: NanumSquare;
    font-size: 1.6rem;
    color:#1E2022;
}
.style_contents_explain_value + .style_contents_explain_value {
    margin-top: 2rem;
}

/* content_benefit */

/* content_info */

#info {
    background-color: #f9fafb;
    padding-bottom: 20rem;
}

#info_contents {
    text-align: center;
}

#info_link_index_background_1 {
    background-image: url('1.jpg');
}

#info_link_index_background_2 {
    background-image: url('2.jpg');
}

#info_link_index_background_3 {
    background-image: url('3.jpg');
}

.info_link_index {
    text-align: left;
    display: inline-flex;
    text-decoration: none;
    margin-top: 1rem;
}

.info_link_index_background {
    width: 20rem;
    height: 20rem;
    background-position: center;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.5rem 0.8rem #999999;
}

.info_link_index_cover {
    width: 16rem;
    height: 16rem;
    background-color: #00000099;
    border-radius: 0.3rem;
    padding: 2rem;
}

.info_link_index_title {
    font-family: Ikaros;
    font-size: 1.8rem;
    color:white;
}

.info_link_index_text {
    margin-top: 0.5rem;
    font-family: NanumSquare;
    font-size: 1.2rem;
    color:white;
}

/* footer */

footer {
    width: 100%;
    padding-top: 3.4rem;
    padding-bottom: 2.8rem;
    background-color: #1E2022;
}

#footer_contact {
    width: fit-content;
    margin: auto;
    font-family: NanumSquare;
    font-size: 1.6rem;
    color: white;
}

.footer_index_box {
    text-align: center;
}

.footer_index {
    display: inline-block;
    margin-top: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: NanumSquare;
    font-size: 0.9rem;
    color: white;
}

.footer_index_title {
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
}

.footer_index_value {
    display: inline-block;
}

#footer_hr {
    border: 0;
    width: 80%;
    height: 0.01rem;
    margin-top: 1.8rem;
    background-color: #888888;
}

.footer_index_subvalue {
    color: #888888;
    text-decoration: none;
}